<div class="info-text">
  <div class="title">
    10 anos de história
  </div>
  <div class="subtitle">
    Há 08 ano e 07 meses sua história se encontra com a nossa
  </div>
  <div class="content">
    <p>
      Os últimos anos trouxeram a consolidação do Lead, que conquistou reconhecimento por meio de premiações,
      menções honrosas, parcerias e na participação em congressos e competições nacionais e internacionais.
    </p>
    <p>
      Temos orgulho da equipe formada ao longo desses anos, que está em constante crescimento,
      sempre valorizando a inclusão e o respeito à diversidade, desenvolvendo projetos que geram
      inovação e impactam positivamente na sociedade.
    </p>
  </div>
</div>
