.info-text {
  padding-top: 4vh;
  .title {
    color: #00447C;
    font-size: 20px;
    letter-spacing: 0px;
  }
  .subtitle {
    color: #444444;
    font-size: 20px;
    letter-spacing: 0px;
  }
  .content {
    font-size: 16px;
    letter-spacing: 0.16px;
    color: #444444;
  }
}
